# Book 4 (Writing Structured Programs)
#### SIDE-39-GAB
#### Bastomy - 1301178418 - Text Mining

## 4   Writing Structured Programs

### 4.1   Back to the Basics

mengisi suatu nilai ke variabel

In [1]:
var1 = "saya" #mengisi saya ke var1
var2 = var1 #mengisi var2 dengan var1

In [2]:
var1 = "bermain" #mengisi var1 dengan bermain

In [3]:
var2 + " " + var1

'saya bermain'

mengisi suatu variabel array

cara deklarasi sebuah array di python bisa menggunakan kode seperti dibawah ini

In [4]:
buah= ['apel','mangga','alpukat']
makanan = buah # menyimpan buah ke var makanan

In [5]:
makanan

['apel', 'mangga', 'alpukat']

In [6]:
makanan[1]="jeruk" #menimpan indeks 1 dengan jeruk pada var makanan

In [7]:
makanan

['apel', 'jeruk', 'alpukat']

<img src="array-memory.png"/>

In [8]:
empty = []
nested = [empty, empty, empty]
nested

[[], [], []]

In [9]:
nested[1].append('jus mangga')

In [10]:
nested

[['jus mangga'], ['jus mangga'], ['jus mangga']]

In [11]:
nested[2].append('apple')

In [12]:
nested

[['jus mangga', 'apple'], ['jus mangga', 'apple'], ['jus mangga', 'apple']]

In [13]:
nested = [[]] * 3

In [14]:
 nested[1].append('Conda')

<b>Equality</b>

In [16]:
ukuran = 3
sepeda = ['sepeda']
motor = [sepeda] * ukuran

In [17]:
motor

[['sepeda'], ['sepeda'], ['sepeda']]

membandingkan isi array antara index 0 sampai 3 menggunakan ==

In [35]:
motor[0] == motor[1] == motor[2]

True

membandingkan ukuran array dengan 3 , dengan menggunakan ==

In [29]:
if len(motor) == 3:
    print('True')
else:
    print('False')

True

membandingkan isi array antara index 0 sampai 3 menggunakan <b> is</b>

In [36]:
motor[0] is motor[1] is motor[2]

True

membandingkan ukuran array dengan 3 , dengan menggunakan <b>is</b>

In [37]:
if len(motor) is 3:
    print('true')
else:
    print('false')

true

untuk mengecek suatu array memiliki nilai tertentu bisa menggunakan <b>in</b> <br> contoh kita akan mengecek apakah terdapat <b>sepeda</b> pada array motor

In [40]:
if "sepeda" in motor[0]:
    print("ada")
else:
    print('tidak ada')

ada

In [41]:
if "roda" in motor[0]:
    print("ada")
else:
    print('tidak ada')

tidak ada

untuk kebalikan dari in kita bisa menggunakan <b>not in</b>

In [42]:
if "sepeda" not in motor[0]:
    print("ada")
else:
    print('tidak ada')

tidak ada

In [43]:
if "roda" not in motor[0]:
    print("ada")
else:
    print('tidak ada')

ada

<b>Conditionals</b>

kondisional adalah dimana syarat tertentu harus dipenuhi, seperti contoh dibawah ini

In [45]:
if "roda" not in motor[0]:
    print("ada")
else:
    print('tidak ada')

ada

contoh di atas akan mengsyaratkan jika roda tida berada pada array motor akan mencetak ada kebalikannya maka akan mencetak tidak ada<br> untuk penggabungan beberapa kondisi dapat menggunakan and (&&) atau or (|)

### 4.2   Sequences

In [47]:
angka = ['satu','dua','tiga']

In [48]:
angka

['satu', 'dua', 'tiga']

untuk mengecek nilai array pada index tertentu bisa menggunakan kode dibawah ini, array sesalu dimulai dari 0

In [51]:
print('nilai array index ke 0 = ',angka[0])
print('nilai array index ke 1 = ',angka[1])
print('nilai array index ke 2 = ',angka[2])

nilai array index ke 0 =  satu
nilai array index ke 1 =  dua
nilai array index ke 2 =  tiga

untuk menampilkan index tertentu sampai index tertentu bisa menggunakan tanda : <br> contoh <b>index awal:index akhir</b>

In [54]:
angka[:2]

['satu', 'dua']

In [55]:
angka[0:1]

['satu']

cara diatas juga berlaku untuk string seperti contoh dibawah ini

In [56]:
kalimat = "nama saya Budi"

In [59]:
kalimat[10:]

'Budi'

setiap karakter akan hitung sebuah index array, untuk menghitung dari akhir kita bisa menggunakan tanda - seperti pada kode dibawah ini

In [61]:
kalimat[-4:]

'Budi'

contoh di atas adalah memulai dari index ke 4 dari kanan dan berakhir pada index terakhir

<strong>Operating on Sequence Types</strong>

<img src="chapter4.PNG"/>

merubah value dari index

In [72]:
angka = ['satu', 'dua', 'tiga', 'empat', 'lima']
angka[2], angka[3], angka[4] = angka[3], angka[4], angka[2]
angka

['satu', 'dua', 'empat', 'lima', 'tiga']

untuk menggabungkan antara 2 array menjadi 1 array dapat menggunakan zip seperti pada contoh kode dibawah ini, dimana array words digabungkan dengan array tags

In [75]:
words = ['I', 'turned', 'off', 'the', 'spectroroute']
tags = ['noun', 'verb', 'prep', 'det', 'noun']
zip(words, tags)

In [76]:
list(zip(words, tags))

[('I', 'noun'),
 ('turned', 'verb'),
 ('off', 'prep'),
 ('the', 'det'),
 ('spectroroute', 'noun')]

In [77]:
list(enumerate(words))

[(0, 'I'), (1, 'turned'), (2, 'off'), (3, 'the'), (4, 'spectroroute')]

<strong>Combining Different Sequence Types</strong>

untuk merubah string menjadi array kita bisa menggunakan <b>split()</b>

In [80]:
words = 'Nama saya Bastomy'.split()

In [81]:
words

['Nama', 'saya', 'Bastomy']

menghitung panjang dari setiap kata dalam array

In [84]:
wordlens = [(len(word), word) for word in words]

In [85]:
wordlens

[(4, 'Nama'), (4, 'saya'), (7, 'Bastomy')]

kebalikan dari split adalah join , yaitu merubah array menjadi string dengan perintah <b>" ".join()</b> dimana " " adalah penggabung antar setiap index dalam array

In [86]:
" ".join(words)

'Nama saya Bastomy'

untuk menghapus value berdasarkan index bisa menggunakan <b>del</b>

In [87]:
lexicon = [
    ('the', 'det', ['Di:', 'D@']),
    ('off', 'prep', ['Qf', 'O:f'])
]

In [88]:
lexicon

[('the', 'det', ['Di:', 'D@']), ('off', 'prep', ['Qf', 'O:f'])]

In [90]:
lexicon.sort()
lexicon[1] = ('turned', 'VBD', ['t3:nd', 't3`nd'])

In [91]:
del lexicon[0]

In [92]:
lexicon

[('turned', 'VBD', ['t3:nd', 't3`nd'])]

<strong>Generator Expressions</strong>

In [94]:
text = '''"When I use a word," Humpty Dumpty said in rather a scornful tone, 
"it means just what I choose it to mean - neither more nor less."'''

untuk merubah semua huruf menjadi huruf kecil bisa menggunakan perintah <b> lower()</b>

In [96]:
text.lower()

'"when i use a word," humpty dumpty said in rather a scornful tone, \n"it means just what i choose it to mean - neither more nor less."'

In [ ]:
4.3   Questions of Style